body {
  padding: 10px;
  padding-bottom: 50px;
}

h1 {
  margin-bottom: 2000px;
}

.mobile-bottom-nav {
  position: fixed;
    font-size:10px;
    padding-bottom:23px;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  will-change: transform;
  transform: translateZ(0);
  display: flex;
  height: 75px;
  box-shadow: 0 -2px 5px -2px #333;
  background-color: #282727;
}

.mobile-bottom-nav__item {
  flex-grow: 1;
  text-align: center;
  font-size: 12px;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.mobile-bottom-nav__item--active {
  color: #d8a201;
  background: rgba(246, 200, 54, 0.1);
  border-radius: 10px;
}

.mobile-bottom-nav__item-content {
  display: flex;
  flex-direction: column;
}


