

@media only screen and (max-width: 600px) {
    .logo {

        background-image: url('/img/logo-F.png');
       background-size:  100px;
        background-repeat: no-repeat;
        background-position: 10% 30%;
    }
}

@media only screen and (min-width: 600px) {

    .logo {

        background-image: url('/img/logo.png');
        background-size: 300px;
        background-repeat: no-repeat;
        background-position: 40% 50%;;

    }
}