/*------- custom css -------*/
html {
  height: 100%;
}

body {
  position: relative;
}

html, body {
  color: #444444;
  background-color: white;
  font-weight: 400;
  letter-spacing: 0.03rem;
}

.container.boxed {
  width: 100% !important;
  max-width: 1300px;
}

.content {
  background: #f7f7f7;
  padding: 30px 65px;
}

img {
  -webkit-backface-visibility: hidden;
}


/*--- spacers ---*/
.spacer {
  margin: 15px 0;
  line-height: 0;
}

.spacer-2x {
  margin: 30px 0;
  line-height: 0;
}

.spacer-3x {
  margin: 45px 0;
  line-height: 0;
}

.spacer-line {
  width: 50px;
  line-height: 0;
  border-bottom: 2px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.spacer-line-2x {
  width: 100px;
  line-height: 0;
  border-bottom: 2px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.spacer-line-solid {
  width: 50px;
  line-height: 0;
  border-bottom: 4px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.spacer-line-solid-2x {
  width: 100px;
  line-height: 0;
  border-bottom: 4px solid #eeeeee;
  margin-left: auto;
  margin-right: auto;
}

.spacer-line-full-width {
  width: 100%;
  line-height: 0;
  border-bottom: 2px solid #eeeeee;
}

.space {
  margin: 15px !important;
}

.space-2x {
  margin: 30px !important;
}

.space-3x {
  margin: 45px !important;
}

.space-top {
  margin-top: 15px !important;
}

.space-top-2x {
  margin-top: 30px !important;
}

.space-bottom {
  margin-bottom: 15px !important;
}

.space-bottom-2x {
  margin-bottom: 30px !important;
}

.space-left {
  margin-left: 15px !important;
}

.space-left-2x {
  margin-left: 30px !important;
}

.space-right {
  margin-right: 15px !important;
}

.space-right-2x {
  margin-right: 30px !important;
}

.inner-space {
  padding: 15px !important;
}

.inner-space-2x {
  padding: 30px !important;
}

.inner-space-3x {
  padding: 45px !important;
}

.inner-space-top {
  padding-top: 15px !important;
}

.inner-space-top-2x {
  padding-top: 30px !important;
}

.inner-space-bottom {
  padding-bottom: 15px !important;
}

.inner-space-bottom-2x {
  padding-bottom: 30px !important;
}

.inner-space-left {
  padding-left: 15px !important;
}

.inner-space-left-2x {
  padding-left: 30px !important;
}

.inner-space-right {
  padding-right: 15px !important;
}

.inner-space-right-2x {
  padding-right: 30px !important;
}

.no-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

/*--- end of spacers ---*/
/*--- custom colors ---*/
.bg-transparent {
  background-color: #eeeeeec7 !important;
}

.bg-white {
  background-color: white !important;
}

.bg-black {
  background-color: black !important;
}

.bg-faded {
  background-color: #eeefef !important;
}

.bg-light-body {
  background-color: #fffefc !important;
}

.bg-light-body-secondary {
  background-color: #f9f6ef !important;
}

.bg-deepgrey {
  background-color: #222222 !important;
}

.bg-darkgrey {
  background-color: #333333 !important;
}

/*image gallery balk kleur*/
.bg-inverse {
  background-color: black !important;
}

/*footer kleur*/
.bg-inverse-hover {
  background-color: #9c9279 !important;
}

.bg-primary {
  background-color: #b8860a !important;
}

.bg-primary-hover {
  background-color: #8b6507 !important;
}

.bg-secondary {
  background-color: #eeefef !important;
}

.bg-success {
  background-color: #6ec92b !important;
}

.bg-info {
  background-color: #00a9f4 !important;
}

.bg-warning {
  background-color: #ff7c07 !important;
}

.bg-danger {
  background-color: #e41b1b !important;
}

.w-border {
  border: 1px solid transparent;
}

.w-border-2x {
  border: 2px solid transparent;
}

.w-border-3x {
  border: 3px solid transparent;
}

.border-white {
  border-color: white !important;
}

.border-black {
  border-color: black !important;
}

.border-faded {
  border-color: #eeefef !important;
}

.border-inverse {
  border-color: #333333 !important;
}

.border-primary {
  border-color: #b8860a !important;
}

.border-secondary {
  border-color: #eeefef !important;
}

.border-success {
  border-color: #6ec92b !important;
}

.border-info {
  border-color: #00a9f4 !important;
}

.border-warning {
  border-color: #ff7c07 !important;
}

.border-danger {
  border-color: #e41b1b !important;
}

.text-muted {
  color: #aaaaaa !important;
}

.text-white {
  color: white !important;
}

.text-black {
  color: black !important;
}

.text-primary {
  color: #b8860a !important;
}

.text-secondary {
  color: #eeefef !important;
}

.text-success {
  color: #6ec92b !important;
}

.text-info {
  color: #00a9f4 !important;
}

.text-warning {
  color: #ff7c07 !important;
}

.text-danger {
  color: #e41b1b !important;
}

a.text-white:focus, a.text-white:hover {
  color: #f7f7f7 !important;
}

a.text-black:focus, a.text-black:hover {
  color: #555 !important;
}

a.text-primary:focus, a.text-primary:hover {
  color: #8b6507 !important;
}

a.text-secondary:focus, a.text-secondary:hover {
  color: #c8c9c9 !important;
}

a.text-success:focus, a.text-success:hover {
  color: #5aa721 !important;
}

a.text-info:focus, a.text-info:hover {
  color: #1885c5 !important;
}

a.text-warning:focus, a.text-warning:hover {
  color: #e06d06 !important;
}

a.text-danger:focus, a.text-danger:hover {
  color: #bf1212 !important;
}

/*--- end of custom colors ---*/
/*--- custom attributes ---*/
.container.full-width {
  width: 100% !important;
  padding: 0 !important;
}

.title-font {
  font-family: "Magnolia-Script", cursive !important;
}

.primary-font {
  font-family: "Open Sans", sans-serif !important;
}

.w80 {
  max-width: 80% !important;
}

.w70 {
  max-width: 70% !important;
}

.w60 {
  max-width: 60% !important;
}

.w50 {
  max-width: 50% !important;
}

button:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

.opc-9 {
  opacity: 0.9 !important;
}

.opc-75 {
  opacity: 0.75 !important;
}

.opc-50 {
  opacity: 0.5 !important;
}

.opc-25 {
  opacity: 0.25 !important;
}

.pull-left {
  float: left !important;
}

.pull-right {
  float: right !important;
}

.no-border {
  border: none !important;
}

.no-border-radius {
  border-radius: 0 !important;
}

.rectangle {
  border-radius: 0 !important;
}

.rounded {
  border-radius: 5px !important;
}

.rounded-2x {
  border-radius: 10px !important;
}

.pill {
  border-radius: 50px !important;
}

.circle {
  border-radius: 100% !important;
}

h3.sub-title {
  font-size: 1.5rem;
}

.sub-title {
  font-size: 1.25rem;
}



img {
  width: 100%;
  max-width: 100%;
  height: auto;
  object-fit: cover;

}

.img-auto {
  width: auto !important;
}

.img-thumbnail {
  padding: 5px;
  background-color: #fff;
  border: 1px solid #eeeeee;
  border-radius: 5px;
  margin-bottom: 15px;
}

.fa {
  vertical-align: middle;
}

.animated {
  -webkit-animation-duration: 1s !important;
  animation-duration: 1s !important;
}

.animated.fast {
  -webkit-animation-duration: 0.4s !important;
  animation-duration: 0.4s !important;
}

.animated.first {
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  animation-delay: 0.5s;
}

.animated.second {
  -webkit-animation-duration: 1.6s !important;
  animation-duration: 1.6s !important;
  animation-delay: 1s;
}

.animated.third {
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  animation-delay: 1.3s;
}

.animated.fourth {
  -webkit-animation-duration: 1.6s !important;
  animation-duration: 1.6s !important;
  animation-delay: 1.8s;
}

.animated.fifth {
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  animation-delay: 2s;
}

.animated.sixth {
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  animation-delay: 2.5s;
}

.animated.seventh {
  -webkit-animation-duration: 1.6s !important;
  animation-duration: 1.6s !important;
  animation-delay: 3.2s;
}

.animated.eighth {
  -webkit-animation-duration: 1.5s !important;
  animation-duration: 1.5s !important;
  animation-delay: 3.5s;
}

.animated.nineth {
  -webkit-animation-duration: 1.6s !important;
  animation-duration: 1.6s !important;
  animation-delay: 3.8s;
}

::-moz-selection {
  color: white;
  background: rgba(184, 134, 10, 0.9);
}

::selection {
  color: white;
  background: rgba(184, 134, 10, 0.9);
}

.vcenter {
  display: flex;
  align-items: center;
}

.va-middle {
  vertical-align: middle !important;
}

.parallax {
  background-attachment: fixed !important;
}

.hidden {
  display: none !important;
}

.text-regular {
  font-weight: 400;
}

.d-inline-block {
  display: inline-block;
}

.after-dropdown {
  margin-left: 10px;
}

.move {
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.move:hover {
  transform: translateY(-2px) !important;
}

.no-move:hover {
  transform: translateY(0) !important;
}

.raised {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.05), 0 1px 6px rgba(0, 0, 0, 0.1) !important;
}

.raised.move:hover {
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05), 0 3px 12px rgba(0, 0, 0, 0.1) !important;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.05), 0 3px 12px rgba(0, 0, 0, 0.1) !important;
}

.count {
  position: absolute;
  top: 3px;
  right: 3px;
  color: black;
  background: white;
  width: 16px;
  height: 16px;
  font-size: 10px;
  line-height: 16px;
  text-align: center;
  border-radius: 50%;
}

.count-inverse {
  color: white;
  background: #333333;
}

.count-primary {
  color: white;
  background: #b8860a;
}

.bg-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/*--- end of custom attributes ---*/
/*--- preloader ---*/
.dark #preloader {
  background-color: #000033;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #b8860a;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*--- end of preloader ---*/
/*------- end of custom css -------*/
/*------- typography -------*/
html, body {
  font-size: 14px;
  background-color: #fffefc;
}

html, body, h1, h2, h3, h4, h5, h6, a, p, ul, ol, li {
   font-family: "Open Sans", sans-serif !important;
  /*font-family: "Magnolia-Script", cursive !important;*/
  -webkit-font-smoothing: antialiased;
 }

h1, h2, h3, h4, h5, h6 {
  font-family: "Magnolia-Script", cursive !important;
  color: black;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin-top: 0;
}

.dark h1, .dark h2, .dark h3, .dark h4, .dark h5, .dark h6 {
  color: white;
}

a {
  font-size: 1.1rem;
  color: #b8860a;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  -ms-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  letter-spacing: 0.03rem;
  font-weight: 400;
  outline: 0 !important;
}
a:hover, a:active, a:focus {
  color: #8b6507;
  text-decoration: none;
}

.dark a, .dark a:focus {
  color: white;
  opacity: 0.75;
}

.dark a:hover {
  color: white;
  opacity: 1;
}

.dark a.btn, .dark.btn a:focus, .dark a.btn-social, .dark.btn-social a:focus, .dark a.btn-link, .dark.btn-link a:focus {
  opacity: 1;
}

.dark a.text-primary:focus, .dark a .text-primary:focus {
  color: #b8860a !important;
}

.dark a.btn:hover, .dark a.btn-social:hover {
  opacity: 1;
}

p {
  font-family: "Open Sans", sans-serif !important;
  /*font-family: "Magnolia-Script", cursive !important;*/
  font-weight: 400;
  font-size: 1.1rem;
  color: #444444;
  letter-spacing: 0.03rem;
  margin-bottom: 10px;
}

.dark p {
  color: #eeeeee;
}

ul {
  list-style: none;
  padding: 0;
}

ul, ol {
  padding-left: 16px;
  margin-top: 0;
  margin-bottom: 20px;
}

.list-featured {
  list-style: none;
  padding: 0;
}

.list-featured li {
  position: relative;
  padding-left: 14px;
  margin-bottom: 7px;
}

.list-featured li:before {
  position: absolute;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  left: 0;
  top: .5rem;
  background-color: #b8860a;
}

ol li {
  margin-bottom: 7px;
}

li {
  color: #444444;
  font-size: 1rem;
  letter-spacing: 0.03rem;
}

.dark li {
  color: #eeeeee;
}

.blockquote {
  border-left: 0.25rem solid #b8860a;
  padding: 0.5rem 1rem;
}

.blockquote-reverse {
  border-right: 0.25rem solid #b8860a;
  border-left: 0;
}

blockquote p {
  font-size: 1rem;
  font-weight: 400;
}

.blockquote-footer {
  color: #444444;
  background: transparent;
  border: 0;
  padding-bottom: 0.75rem;
}

cite {
  color: #aaaaaa;
  font-size: 0.8rem;
}

.mark, mark {
  background-color: #c8c9c9;
}

b, strong {
  font-weight: 700;
}

.text-uppercase {
  text-transform: uppercase;
}

.lead {
  font-size: 1.1rem;
}

.text-sm {
  font-size: 0.9rem;
}

.text-xs {
  font-size: 0.75rem;
}

form label {
  color: black;
  display: inline-block;
  margin-bottom: .5rem;
}

.md-icon {
  font-family: 'Material Icons';
  text-rendering: optimizeLegibility;
  font-feature-settings: "liga" 1;
  font-style: normal;
  text-transform: none;
  line-height: 1;
  font-size: 24px;
  width: 24px;
  height: 24px;
  display: inline-block;
  overflow: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-item {
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.icon-item-inner {
  background: #eeefef;
  padding: 15px 5px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.icon-item-inner:hover {
  background: #b8860a;
}

.icon-item-inner i {
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.icon-item-inner:hover i {
  color: white;
}

.icon-item-inner .caption-sm {
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.icon-item-inner:hover .caption-sm {
  color: white;
}

.md-icon.dp10 {
  font-size: 10px;
  width: 10px;
  height: 10px;
  vertical-align: middle;
}

.md-icon.dp12 {
  font-size: 12px;
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.md-icon.dp14 {
  font-size: 14px;
  width: 14px;
  height: 14px;
  vertical-align: middle;
}

.md-icon.dp16 {
  font-size: 16px;
  width: 16px;
  height: 16px;
  vertical-align: middle;
}

.md-icon.dp18 {
  font-size: 18px;
  width: 18px;
  height: 18px;
  vertical-align: middle;
}

.md-icon.dp20 {
  font-size: 20px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
}

.md-icon.dp24 {
  font-size: 24px;
  width: 24px;
  height: 24px;
  vertical-align: middle;
}

.md-icon.dp30 {
  font-size: 30px;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.md-icon.dp36 {
  font-size: 36px;
  width: 36px;
  height: 36px;
  vertical-align: middle;
}

.md-icon.dp48 {
  font-size: 48px;
  width: 48px;
  height: 48px;
  vertical-align: middle;
}

.caption {
  font-size: .9rem;
}

.caption-sm {
  font-size: .625rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: .5rem;
}

/*------- end of typography -------*/
/*---------- components ----------*/
/*------- alerts-badges -------*/
.alert {
  padding: 15px 20px;
  margin-bottom: 25px;
  border: 1px solid transparent;
  border-radius: 2px;
}

.alert-dismissible .close {
  top: -0.75rem;
  right: -1.25rem;
  padding: .75rem 1.25rem;
  position: relative;
}

.close {
  float: right;
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 1;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  opacity: .8;
}

.alert-icon {
  line-height: 1;
  vertical-align: middle;
}

.alert-success {
  background-color: #6ec92b;
  border-color: #5aa721;
  color: white;
}

.alert-success .close {
  color: #5aa721;
}

.alert-info {
  background-color: #00a9f4;
  border-color: #1885c5;
  color: white;
}

.alert-info .close {
  color: #1885c5;
}

.alert-warning {
  background-color: #ff7c07;
  border-color: #e06d06;
  color: white;
}

.alert-warning .close {
  color: #e06d06;
}

.alert-danger {
  background-color: #e41b1b;
  border-color: #bf1212;
  color: white;
}

.alert-danger .close {
  color: #bf1212;
}

.badge {
  color: white;
  font-size: 65%;
  font-weight: 700;
  border-radius: 2px;
  padding: .5em .8em;
}

.badge-pill {
  border-radius: 10rem;
}

.badge-default {
  background-color: #444444;
}

.badge-primary {
  background-color: #b8860a;
}

.badge-success {
  background-color: #6ec92b;
}

.badge-info {
  background-color: #00a9f4;
}

.badge-warning {
  background-color: #ff7c07;
}

.badge-danger {
  background-color: #e41b1b;
}

/*------- end of alerts-badges -------*/
/*------- buttons -------*/
.btn {
  font-family: "Open Sans", sans-serif;
  /*font-family: "Magnolia-Script", cursive !important;*/
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.25;
  letter-spacing: 0.06rem;
  border: 2px solid transparent;
  border-radius: 2px;
  padding: 16px 24px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

a.btn, a.btn-social {
  display: inline-block;
}

.btn span {
  vertical-align: middle;
}

.btn-group-lg > .btn, .btn-lg {
  padding: 12px 24px;
  font-size: 1.25rem;
  border-radius: 3px;
}

.btn-group-sm > .btn, .btn-sm {
  padding: 8px 14px;
  font-size: .8rem;
  border-radius: .2px;
}

.btn-group-xs > .btn, .btn-xs {
  padding: 6px 10px;
  font-size: .6rem;
  border-radius: 2px;
}

.btn-circle {
  display: inline-block;
  line-height: 1;
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  max-width: 50px !important;
  max-height: 50px !important;
}

.btn-circle i {
  font-size: 1rem;
  line-height: 1.95;
}

.btn.btn-w-icon .md-icon.dp16 {
  line-height: 1.5rem;
}

.btn-square {
  height: 40px;
  width: 40px;
  border-radius: 2px;
  padding: 3px !important;
}

/*--- button colors ---*/
.btn-primary, .btn-primary:focus, .btn-primary.active {
  color: white !important;
  background-color: #b8860a !important;
  border-color: #b8860a !important;
}

.btn-primary:hover, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  color: white !important;
  background-color: #8b6507 !important;
  border-color: #8b6507 !important;
}

.btn-outline-primary, .btn-outline-primary:focus, .btn-outline-primary.active, .btn-outline-primary:active {
  color: #b8860a !important;
  background-image: none;
  background-color: transparent !important;
  border-color: #b8860a !important;
}

.btn-outline-primary:hover, .show > .btn-outline-primary.dropdown-toggle {
  color: white !important;
  background-color: #b8860a !important;
  border-color: #b8860a !important;
}

.btn-primary.disabled, .btn-primary:disabled {
  color: white !important;
  background-color: #b8860a !important;
  border-color: #b8860a !important;
  opacity: 0.8 !important;
}

.btn-secondary, .btn-secondary:focus, .btn-secondary.active {
  color: black !important;
  background-color: #eeefef !important;
  border-color: #eeefef !important;
}

.btn-secondary:hover, .btn-secondary:active, .show > .btn-secondary.dropdown-toggle {
  color: black !important;
  background-color: #c8c9c9 !important;
  border-color: #c8c9c9 !important;
}

.btn-outline-secondary, .btn-outline-secondary:focus, .btn-outline-secondary.active, .btn-outline-secondary:active {
  color: #c8c9c9 !important;
  background-image: none;
  background-color: transparent;
  border-color: #c8c9c9 !important;
}

.btn-outline-secondary:hover, .show > .btn-outline-secondary.dropdown-toggle {
  color: black !important;
  background-color: #c8c9c9 !important;
  border-color: #c8c9c9 !important;
}

.btn-secondary.disabled, .btn-secondary:disabled {
  color: white !important;
  background-color: #eeefef !important;
  border-color: #eeefef !important;
  opacity: 0.8 !important;
}

.btn-success, .btn-success:focus, .btn-success.active, .btn-success:active {
  color: white !important;
  background-color: #6ec92b !important;
  border-color: #6ec92b !important;
}

.btn-success:hover, .show > .btn-success.dropdown-toggle {
  color: white !important;
  background-color: #5aa721 !important;
  border-color: #5aa721 !important;
}

.btn-outline-success, .btn-outline-success:focus, .btn-outline-success.active, .btn-outline-success:active {
  color: #6ec92b !important;
  background-image: none;
  background-color: transparent !important;
  border-color: #6ec92b !important;
}

.btn-outline-success:hover, .show > .btn-outline-success.dropdown-toggle {
  color: white !important;
  background-color: #6ec92b !important;
  border-color: #6ec92b !important;
}

.btn-success.disabled, .btn-success:disabled {
  color: white !important;
  background-color: #6ec92b !important;
  border-color: #6ec92b !important;
  opacity: 0.8 !important;
}

.btn-info, .btn-info:focus, .btn-info.active, .btn-info:active {
  color: white !important;
  background-color: #00a9f4 !important;
  border-color: #00a9f4 !important;
}

.btn-info:hover, .show > .btn-info.dropdown-toggle {
  color: white !important;
  background-color: #1885c5 !important;
  border-color: #1885c5 !important;
}

.btn-outline-info, .btn-outline-info:focus, .btn-outline-info.active, .btn-outline-info:active {
  color: #00a9f4 !important;
  background-image: none;
  background-color: transparent !important;
  border-color: #00a9f4 !important;
}

.btn-outline-info:hover, .show > .btn-outline-info.dropdown-toggle {
  color: white !important;
  background-color: #00a9f4 !important;
  border-color: #00a9f4 !important;
}

.btn-info.disabled, .btn-info:disabled {
  color: white !important;
  background-color: #00a9f4 !important;
  border-color: #00a9f4 !important;
  opacity: 0.8 !important;
}

.btn-warning, .btn-warning:focus, .btn-warning.active, .btn-warning:active {
  color: white !important;
  background-color: #ff7c07 !important;
  border-color: #ff7c07 !important;
}

.btn-warning:hover, .show > .btn-warning.dropdown-toggle {
  color: white !important;
  background-color: #e06d06 !important;
  border-color: #e06d06 !important;
}

.btn-outline-warning, .btn-outline-warning:focus, .btn-outline-warning.active, .btn-outline-warning:active {
  color: #ff7c07 !important;
  background-image: none;
  background-color: transparent !important;
  border-color: #ff7c07 !important;
}

.btn-outline-warning:hover, .show > .btn-outline-warning.dropdown-toggle {
  color: white !important;
  background-color: #ff7c07 !important;
  border-color: #ff7c07 !important;
}

.btn-warning.disabled, .btn-warning:disabled {
  color: white !important;
  background-color: #6ec92b !important;
  border-color: #6ec92b !important;
  opacity: 0.8 !important;
}

.btn-danger, .btn-danger:focus, .btn-danger.active, .btn-danger:active {
  color: white !important;
  background-color: #e41b1b !important;
  border-color: #e41b1b !important;
}

.btn-danger:hover, .show > .btn-danger.dropdown-toggle {
  color: white !important;
  background-color: #bf1212 !important;
  border-color: #bf1212 !important;
}

.btn-outline-danger, .btn-outline-danger:focus, .btn-outline-danger.active, .btn-outline-danger:active {
  color: #e41b1b !important;
  background-image: none;
  background-color: transparent !important;
  border-color: #e41b1b !important;
}

.btn-outline-danger:hover, .show > .btn-outline-danger.dropdown-toggle {
  color: white !important;
  background-color: #e41b1b !important;
  border-color: #e41b1b !important;
}

.btn-danger.disabled, .btn-danger:disabled {
  color: white !important;
  background-color: #e41b1b !important;
  border-color: #e41b1b !important;
  opacity: 0.8 !important;
}

.btn-white, .btn-white:focus, .btn-white.active, .btn-white:active {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}

.btn-white:hover, .show > .btn-white.dropdown-toggle {
  color: black !important;
  background-color: #eeeeee !important;
  border-color: #eeeeee !important;
}

.btn-outline-white, .btn-outline-white:focus, .btn-outline-white.active, .btn-outline-white:active {
  color: white !important;
  background-image: none;
  background-color: transparent !important;
  border-color: white !important;
}

.btn-outline-white:hover, .show > .btn-outline-white.dropdown-toggle {
  color: black !important;
  background-color: white !important;
  border-color: white !important;
}

.btn-white.disabled, .btn-white:disabled {
  opacity: 0.8 !important;
}

.btn-black, .btn-black:focus, .btn-black.active, .btn-black:active {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.btn-black:hover, .show > .btn-black.dropdown-toggle {
  color: white !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}

.btn-outline-black, .btn-outline-black:focus, .btn-outline-black.active, .btn-outline-black:active {
  color: black !important;
  background-image: none;
  background-color: transparent !important;
  border-color: black !important;
}

.btn-outline-black:hover, .show > .btn-outline-black.dropdown-toggle {
  color: white !important;
  background-color: black !important;
  border-color: black !important;
}

.btn-black.disabled, .btn-black:disabled {
  opacity: 0.8;
}

.btn-link, .btn-link:focus, .btn-link.active, .btn-link:active {
  color: #b8860a;
}

.btn-link:hover, .show > .btn-link.dropdown-toggle {
  color: #8b6507 !important;
  text-decoration: none;
}

.btn-link.disabled, .btn-link:disabled {
  color: #b8860a;
  opacity: 0.8 !important;
}

.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}

/*--- end of button colors ---*/
/*--- social buttons ---*/
.btn-social {
  font-family: "Open Sans", sans-serif;
  /*font-family: "Magnolia-Script", !important;*/
  font-weight: 400;
  font-size: .95rem;
  line-height: 1.25;
  letter-spacing: 0.03rem;
  border-radius: 0.35rem;
  padding: .75rem 1rem;
  vertical-align: middle;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.btn-social i {
  font-size: .9rem;
  vertical-align: middle;
}

.btn-social span {
  margin-left: 10px;
  vertical-align: middle;
}

.btn-social.first {
  padding-left: 0 !important;
  margin-left: 0 !important;
}

.btn-social-lg {
  font-size: 1.3rem;
}

.btn-social-lg i {
  font-size: 1.25rem;
}

/* facebook button */
.btn-facebook, .btn-facebook:active, .btn-facebook:focus {
  color: white;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

.btn-facebook:hover {
  color: white;
  background: #3b4f7a;
  border: 2px solid #3b4f7a;
}

.btn-facebook-link, .btn-facebook-link:active, .btn-facebook-link:focus {
  color: #4e68a1;
  background: transparent;
  border: none;
}

.btn-facebook-link:hover {
  color: #3b4f7a;
}

.btn-outline-facebook, .btn-outline-facebook:active, .btn-outline-facebook:focus {
  color: #4e68a1;
  background: transparent;
  border: 2px solid #4e68a1;
}

.btn-outline-facebook:hover {
  color: white !important;
  background: #4e68a1;
  border: 2px solid #4e68a1;
}

/* twitter button */
.btn-twitter, .btn-twitter:active, .btn-twitter:focus {
  color: white;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

.btn-twitter:hover {
  color: white;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter:hover {
  color: white;
  background: #5294c6;
  border: 2px solid #5294c6;
}

.btn-twitter-link, .btn-twitter-link:active, .btn-twitter-link:focus {
  color: #65b5f2;
  background: transparent;
  border: none;
}

.btn-twitter-link:hover {
  color: #5294c6;
}

.btn-outline-twitter, .btn-outline-twitter:active, .btn-outline-twitter:focus {
  color: #65b5f2;
  background: transparent;
  border: 2px solid #65b5f2;
}

.btn-outline-twitter:hover {
  color: white;
  background: #65b5f2;
  border: 2px solid #65b5f2;
}

/* google button */
.btn-google, .btn-google:active, .btn-google:focus {
  color: white;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

.btn-google:hover {
  color: white;
  background: #b94c3d;
  border: 2px solid #b94c3d;
}

.btn-google-link, .btn-google-link:active, .btn-google-link:focus {
  color: #e05d4b;
  background: transparent;
  border: none;
}

.btn-google-link:hover {
  color: #b94c3d;
}

.btn-outline-google, .btn-outline-google:active, .btn-outline-google:focus {
  color: #e05d4b;
  background: transparent;
  border: 2px solid #e05d4b;
}

.btn-outline-google:hover {
  color: white;
  background: #e05d4b;
  border: 2px solid #e05d4b;
}

/* linkedin button */
.btn-linkedin, .btn-linkedin:active, .btn-linkedin:focus {
  color: white;
  background: #2083bc;
  border: 2px solid #2083bc;
}

.btn-linkedin:hover {
  color: white;
  background: #186592;
  border: 2px solid #186592;
}

.btn-linkedin-link, .btn-linkedin-link:active, .btn-linkedin-link:focus {
  color: #2083bc;
  background: transparent;
  border: none;
}

.btn-linkedin-link:hover {
  color: #186592;
}

.btn-outline-linkedin, .btn-outline-linkedin:active, .btn-outline-linkedin:focus {
  color: #2083bc;
  background: transparent;
  border: 2px solid #2083bc;
}

.btn-outline-linkedin:hover {
  color: white;
  background: #2083bc;
  border: 2px solid #2083bc;
}

/* pinterest button */
.btn-pinterest, .btn-pinterest:active, .btn-pinterest:focus {
  color: white;
  background: #d2373b;
  border: 2px solid #d2373b;
}

.btn-pinterest:hover {
  color: white;
  background: #ad2c2f;
  border: 2px solid #ad2c2f;
}

.btn-pinterest-link, .btn-pinterest-link:active, .btn-pinterest-link:focus {
  color: #d2373b;
  background: transparent;
  border: none;
}

.btn-pinterest-link:hover {
  color: #ad2c2f;
}

.btn-outline-pinterest, .btn-outline-pinterest:active, .btn-outline-pinterest:focus {
  color: #d2373b;
  background: transparent;
  border: 2px solid #d2373b;
}

.btn-outline-pinterest:hover {
  color: white;
  background: #d2373b;
  border: 2px solid #d2373b;
}

/* dribble button */
.btn-dribbble, .btn-dribbble:active, .btn-dribbble:focus {
  color: white;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

.btn-dribbble:hover {
  color: white;
  background: #b4446e;
  border: 2px solid #b4446e;
}

.btn-dribbble-link, .btn-dribbble-link:active, .btn-dribbble-link:focus {
  color: #ec5f94;
  background: transparent;
  border: none;
}

.btn-dribbble-link:hover {
  color: #b4446e;
}

.btn-outline-dribbble, .btn-outline-dribbble:active, .btn-outline-dribbble:focus {
  color: #ec5f94;
  background: transparent;
  border: 2px solid #ec5f94;
}

.btn-outline-dribbble:hover {
  color: white;
  background: #ec5f94;
  border: 2px solid #ec5f94;
}

/* instagram button */
.btn-instagram, .btn-instagram:active, .btn-instagram:focus {
  color: white;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

.btn-instagram:hover {
  color: white;
  background: #4252ba;
  border: 2px solid #4252ba;
}

.btn-instagram-link, .btn-instagram-link:active, .btn-instagram-link:focus {
  color: #4c5fd7;
  background: transparent;
  border: none;
}

.btn-instagram-link:hover {
  color: #4252ba;
}

.btn-outline-instagram, .btn-outline-instagram:active, .btn-outline-instagram:focus {
  color: #4c5fd7;
  background: transparent;
  border: 2px solid #4c5fd7;
}

.btn-outline-instagram:hover {
  color: white !important;
  background: #4c5fd7;
  border: 2px solid #4c5fd7;
}

/* youtube button */
.btn-youtube, .btn-youtube:active, .btn-youtube:focus {
  color: white;
  background: #e52d27;
  border: 2px solid #e52d27;
}

.btn-youtube:hover {
  color: white;
  background: #b31217;
  border: 2px solid #b31217;
}

.btn-youtube-link, .btn-youtube-link:active, .btn-youtube-link:focus {
  color: #e52d27;
  background: transparent;
  border: none;
}

.btn-youtube-link:hover {
  color: #b31217;
}

.btn-outline-youtube, .btn-outline-youtube:active, .btn-outline-youtube:focus {
  color: #e52d27;
  background: transparent;
  border: 2px solid #e52d27;
}

.btn-outline-youtube:hover {
  color: white !important;
  background: #e52d27;
  border: 2px solid #e52d27;
}

/*--- end of social buttons ---*/
/*------- end of buttons -------*/
/*------- cards -------*/
.card {
  background-color: white;
  border: 1px solid #eeefef;
  border-radius: 2px;
  margin-bottom: 1.5rem;
}

.card-body .md-icon {
  display: inline;
}

.card-rounded {
  border-radius: 2rem;
}

.card-header {
  padding: .75rem 1.25rem;
  margin-bottom: 0;
  background-color: #eeefef;
  border-bottom: 1px solid #c8c9c9;
}

.card-header:first-child {
  border-radius: calc(.35rem - 1px) calc(.35rem - 1px) 0 0;
}

.card-footer {
  padding: .75rem 1.25rem;
  background-color: #eeefef;
  border-top: 1px solid #c8c9c9;
}

.card-inverse {
  background-color: #333333;
  border-color: #333333;
}

.card-secondary {
  background-color: #eeefef !important;
  border-color: #c8c9c9 !important;
}

.card-primary {
  background-color: #b8860a !important;
  border-color: #8b6507 !important;
}

.card-success {
  background-color: #6ec92b;
  border-color: #5aa721;
}

.card-info {
  background-color: #00a9f4;
  border-color: #1885c5;
}

.card-warning {
  background-color: #ff7c07;
  border-color: #e06d06;
}

.card-danger {
  background-color: #e41b1b;
  border-color: #bf1212;
}

.card-outline-inverse {
  background-color: white;
  border-color: #333333;
}

.card-outline-secondary {
  background-color: white;
  border-color: #c8c9c9 !important;
}

.card-outline-primary {
  background-color: white;
  border-color: #8b6507;
}

.card-outline-success {
  background-color: white;
  border-color: #5aa721;
}

.card-outline-info {
  background-color: white;
  border-color: #1885c5;
}

.card-outline-warning {
  background-color: white;
  border-color: #e06d06;
}

.card-outline-danger {
  background-color: white;
  border-color: #bf1212;
}

.card-inverse .card-blockquote, .card-inverse .card-footer, .card-inverse .card-header, .card-inverse .card-title {
  color: white;
}

.card-inverse .card-blockquote .blockquote-footer, .card-inverse .card-link, .card-inverse .card-subtitle, .card-inverse .card-text {
  color: rgba(255, 255, 255, 0.65);
}

/*------- end of cards -------*/
/*------- carousel -------*/
.owl-theme .owl-nav {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-nav [class*='owl-'] {
  color: white;
  font-size: .9rem;
  margin: 5px;
  padding: 4px 7px;
  background: #eeefef;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.owl-theme .owl-nav [class*='owl-']:hover {
  background: #8b6507;
  color: white;
  text-decoration: none;
}

.owl-theme .owl-nav .disabled {
  opacity: 0.5;
  cursor: default;
}

.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 10px;
}

.owl-theme .owl-dots {
  text-align: center;
  -webkit-tap-highlight-color: transparent;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
  zoom: 1;
  *display: inline;
}

.owl-theme .owl-dots .owl-dot span {
  width: 13px;
  height: 13px;
  margin: 5px 7px;
  background: transparent;
  border: 2px solid #b8860a;
  display: block;
  -webkit-backface-visibility: visible;
  border-radius: 50%;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background: #b8860a;
  border: 2px solid #b8860a;
}

/*--- custom carousels ---*/
.owl-theme.carousel-full-nav .owl-nav {
  margin: 0;
}

.carousel-full-nav .owl-prev {
  position: absolute;
  top: 47%;
  left: 0;
  transform: translate(25%, -50%);
  color: rgba(255, 255, 255, 0.75) !important;
  background: transparent !important;
  font-size: 2.5rem !important;
}

.carousel-full-nav .owl-prev:hover {
  color: white;
}

.carousel-full-nav .owl-next {
  position: absolute;
  top: 47%;
  right: 0;
  transform: translate(-25%, -50%);
  color: rgba(255, 255, 255, 0.75) !important;
  background: transparent !important;
  font-size: 2.5rem !important;
}

.carousel-full-nav .owl-next:hover {
  color: white;
}

/*--- end of custom carousels ---*/
/*------- end of carousel -------*/
/*------- forms -------*/
.form-control {
  display: inline-block;
  width: 100%;
  height: auto;
  padding: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5rem;
  color: #c8c9c9;
  background-color: white;
  background-image: none;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 2px solid #eeefef;
  border-radius: 2px;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
}

.form-control:focus {
  border-color: #c8c9c9 !important;
}

.input-group-btn .btn {
  height: 100%;
}

.form-inline.dark .form-control {
  color: white;
  background: #777777;
  border: 2px solid #777777;
}

.bg-primary .form-inline.dark .form-control {
  color: black;
  background: white;
  border: 2px solid white;
}

.form-control.pill {
  background-color: white !important;
  border: 2px solid white;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.form-control.pill:hover {
  border-color: white !important;
}

.form-control.pill:focus {
  border-color: white !important;
}

.form-control-sm, .input-group-sm > .form-control, .input-group-sm > .input-group-addon, .input-group-sm > .input-group-btn > .btn {
  padding: .6075rem .7rem;
  font-size: .8rem;
}

.form-control-xs, .input-group-xs > .form-control, .input-group-xs > .input-group-addon, .input-group-xs > .input-group-btn > .btn {
  padding: .45rem .5rem;
  font-size: .6rem;
}

.qty {
  max-width: 45px;
  max-height: 40px;
  border-radius: 5px;
  margin-left: 0 !important;
  padding: 13px 5px 13px 8px;
}

.button-green{

  background-color: lawngreen;
  color:black;
  white-space: normal;
  margin: 5px; font-weight: bold;
  padding: 2px 10px 2px 10px;
  width: 300px;
  max-width: 300px;

}
.button-orange{

  background-color: orange;
  color:black;
  white-space: normal;
  margin: 5px; font-weight: bold;
  padding: 2px 10px 2px 10px;
  width: 300px;
  max-width: 300px;

}

.button-red{

  background-color: red;
  color:black;
  white-space: normal;
  margin: 5px; font-weight: bold;
  padding: 2px 10px 2px 10px;
  width: 300px;
  max-width: 300px;

}

select.form-control.shop-option:not([size]):not([multiple]) {
  height: 40px;
}

input, textarea {
  font-family: "Open Sans", sans-serif !important;
  letter-spacing: 0.03rem;
}



.input-group-addon:not(:last-child) {
  border: none;
}

.input-group-addon {
  border: none;
}

.input-group-btn:not(:last-child) > .btn, .input-group-btn:not(:last-child) > .btn-group {
  margin-right: -2px;
}

.input-group-btn:not(:first-child) > .btn, .input-group-btn:not(:first-child) > .btn-group {
  margin-left: -2px;
}

input:focus, textarea:focus {
  color: #c8c9c9 !important;
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #b8860a !important;
}

.form-inline.dark input:focus, .form-inline.dark textarea:focus {
  color: white !important;
  border-color: #b8860a;
}

.bg-primary .form-inline.dark input:focus, .bg-primary .form-inline.dark textarea:focus {
  color: black !important;
  border-color: #b8860a;
}

input[type=datetime-local] {
  padding: 11px 15px;
}

/*--- input placeholder color ---*/
::-webkit-input-placeholder {
  color: #c8c9c9 !important;
}

::-moz-placeholder {
  color: #c8c9c9 !important;
}

:-ms-input-placeholder {
  color: #c8c9c9 !important;
}

:-moz-placeholder {
  color: #c8c9c9 !important;
}

.form-inline.dark ::-webkit-input-placeholder {
  color: white !important;
}

.form-inline.dark ::-moz-placeholder {
  color: white !important;
}

.form-inline.dark :-ms-input-placeholder {
  color: white !important;
}

.form-inline.dark :-moz-placeholder {
  color: white !important;
}

.bg-primary .form-inline.dark ::-webkit-input-placeholder {
  color: black !important;
}

.bg-primary .form-inline.dark ::-moz-placeholder {
  color: black !important;
}

.bg-primary .form-inline.dark :-ms-input-placeholder {
  color: black !important;
}

.bg-primary .form-inline.dark :-moz-placeholder {
  color: black !important;
}

/*--- end of input placeholder color ---*/
select.form-control:not([size]):not([multiple]) {
  height: auto;
}

select.selector {
  -webkit-appearance: menulist !important;
}

select.multiple-selector {
  -webkit-appearance: listbox !important;
  max-height: 55px;
}

select:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #c8c9c9 !important;
}

option {
  padding: 4px 2px 1px;
}

.input-group-text {
  background-color: transparent;
  border: 2px solid #eeefef;
  border-left: none;
  padding: 0 1.25rem;
}

.input-group-text i {
  color: #c8c9c9;
}

.bootstrap-datetimepicker-widget {
  width: 100% !important;
  max-width: 360px !Important;
  bottom: auto !important;
  top: 60px !important;
  border: none !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu {
  -webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15) !important;
  box-shadow: 0 1px 6px rgba(0, 0, 0, 0.1), 0 1px 6px rgba(0, 0, 0, 0.15) !important;
}

.bootstrap-datetimepicker-widget table td.active, .bootstrap-datetimepicker-widget table td.active:hover {
  background: #b8860a !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu:before {
  display: none !important;
}

.bootstrap-datetimepicker-widget.dropdown-menu:after {
  display: none !important;
}

.bootstrap-datetimepicker-widget table td {
  font-size: 0.875rem;
  padding: 5px;
}

.bootstrap-datetimepicker-widget table th {
  font-size: 0.875rem;
  padding: 5px;
}

.btn-form-submit {
  width: 100%;
}

textarea:focus {
  outline: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border-color: #c8c9c9 !important;
}

.btn-file {
  position: relative;
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.06rem !important;
}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 1rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.checkbox label {
  display: inline-block;
  position: relative;
  font-weight: 400;
  padding-left: 5px;
  margin-bottom: 0;
}

.checkbox label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  margin-top: 1px;
  margin-left: -20px;
  border: 1px solid #c8c9c9;
  border-radius: 3px;
  background-color: white;
  -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
  transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}

.checkbox label::after {
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  top: 0;
  margin-top: 1px;
  margin-left: -20px;
  padding-left: 4px;
  padding-top: 2px;
  font-size: 10px;
  color: #c8c9c9;
}

.checkbox input[type="checkbox"] {
  opacity: 0;
}

.checkbox input[type="checkbox"]:checked + label::after {
  font-family: 'Material Icons';
  content: "\E876";
}

.checkbox input[type="checkbox"]:disabled + label {
  opacity: 0.65;
}

.checkbox input[type="checkbox"]:disabled + label::before {
  background-color: #eeefef;
  cursor: not-allowed;
}

.checkbox.checkbox-circle label::before {
  border-radius: 50%;
}

.checkbox.checkbox-inline {
  margin-top: 0;
}

.checkbox-primary input[type="checkbox"]:checked + label::before {
  background-color: #b8860a;
  border-color: #b8860a;
}

.checkbox-primary input[type="checkbox"]:checked + label::after {
  color: white;
}

.checkbox-secondary input[type="checkbox"]:checked + label::before {
  background-color: #c8c9c9;
  border-color: #c8c9c9;
}

.checkbox-secondary input[type="checkbox"]:checked + label::after {
  color: white;
}

.checkbox-success input[type="checkbox"]:checked + label::before {
  background-color: #6ec92b;
  border-color: #6ec92b;
}

.checkbox-success input[type="checkbox"]:checked + label::after {
  color: white;
}

.checkbox-info input[type="checkbox"]:checked + label::before {
  background-color: #00a9f4;
  border-color: #00a9f4;
}

.checkbox-info input[type="checkbox"]:checked + label::after {
  color: white;
}

.checkbox-warning input[type="checkbox"]:checked + label::before {
  background-color: #ff7c07;
  border-color: #ff7c07;
}

.checkbox-warning input[type="checkbox"]:checked + label::after {
  color: white;
}

.checkbox-danger input[type="checkbox"]:checked + label::before {
  background-color: #e41b1b;
  border-color: #e41b1b;
}

.checkbox-danger input[type="checkbox"]:checked + label::after {
  color: white;
}

.radio label {
  display: inline-block;
  position: relative;
  font-weight: 400;
  padding-left: 5px;
}

.radio label::before {
  content: "";
  display: inline-block;
  position: absolute;
  width: 18px;
  height: 18px;
  left: 0;
  margin-left: -20px;
  border: 1px solid #c8c9c9;
  border-radius: 50%;
  background-color: white;
  margin-top: 0;
  -webkit-transition: border 0.15s ease-in-out;
  -o-transition: border 0.15s ease-in-out;
  transition: border 0.15s ease-in-out;
}

.radio label::after {
  display: inline-block;
  position: absolute;
  content: " ";
  width: 12px;
  height: 12px;
  left: 3px;
  top: 3px;
  margin-left: -20px;
  border-radius: 50%;
  background-color: #c8c9c9;
  margin-top: 0;
  -webkit-transform: scale(0, 0);
  -ms-transform: scale(0, 0);
  -o-transform: scale(0, 0);
  transform: scale(0, 0);
  -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
  transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
}

.radio input[type="radio"] {
  opacity: 0;
}

.radio input[type="radio"]:checked + label::after {
  -webkit-transform: scale(1, 1);
  -ms-transform: scale(1, 1);
  -o-transform: scale(1, 1);
  transform: scale(1, 1);
}

.radio input[type="radio"]:disabled + label {
  opacity: 0.65;
}

.radio input[type="radio"]:disabled + label::before {
  cursor: not-allowed;
}

.radio.radio-inline {
  margin-top: 0;
}

.radio-primary input[type="radio"] + label::after {
  background-color: #b8860a;
}

.radio-primary input[type="radio"]:checked + label::before {
  border-color: #b8860a;
}

.radio-primary input[type="radio"]:checked + label::after {
  background-color: #b8860a;
}

.radio-success input[type="radio"] + label::after {
  background-color: #6ec92b;
}

.radio-success input[type="radio"]:checked + label::before {
  border-color: #6ec92b;
}

.radio-success input[type="radio"]:checked + label::after {
  background-color: #6ec92b;
}

.radio-info input[type="radio"] + label::after {
  background-color: #00a9f4;
}

.radio-info input[type="radio"]:checked + label::before {
  border-color: #00a9f4;
}

.radio-info input[type="radio"]:checked + label::after {
  background-color: #00a9f4;
}

.radio-warning input[type="radio"] + label::after {
  background-color: #ff7c07;
}

.radio-warning input[type="radio"]:checked + label::before {
  border-color: #ff7c07;
}

.radio-warning input[type="radio"]:checked + label::after {
  background-color: #ff7c07;
}

.radio-danger input[type="radio"] + label::after {
  background-color: #e41b1b;
}

.radio-danger input[type="radio"]:checked + label::before {
  border-color: #e41b1b;
}

.radio-danger input[type="radio"]:checked + label::after {
  background-color: #e41b1b;
}

label.hidden {
  display: none !important;
}

label.btn-file {
  margin-bottom: 0;
}

.form-wrapper {
  background: white;
  border: 2px solid #eeefef;
  padding: 30px;
}

.restaurant-demo .form-wrapper {
  background: rgba(17, 17, 17, 0.6);
  border: 2px solid rgba(17, 17, 17, 0.1);
}

.form-title {
  font-size: 1.375rem;
  margin-bottom: 30px;
}

.form-inline-extras {
  display: table;
  width: 100%;
  margin-top: 10px;
}

.form-inline-extras .checkbox {
  margin-left: 2px;
}

.custom-form .left-area {
  display: inline-block;
  width: 50%;
  text-align: left;
  vertical-align: middle;
}

.custom-form .right-area {
  display: inline-block;
  width: 50%;
  text-align: right;
  vertical-align: middle;
}

.custom-form .left-area.long {
  width: 75%;
}

.custom-form .right-area.long {
  width: 75%;
}

.custom-form .left-area.short {
  width: 25%;
}

.custom-form .right-area.short {
  width: 25%;
}

.form-extras {
  display: table;
  width: 100%;
  margin-top: 15px;
}

.btn .submit-button {
  line-height: 1.75rem;
}

/*------- end of forms -------*/
/*------- modals -------*/
.example-modal .modal {
  position: relative;
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
  z-index: 1;
  display: block;
}

.modal-content {
  background-color: white;
  border: 1px solid #c8c9c9;
  border-radius: 2px;
  -webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.modal-header {
  border-bottom: 0;
}

.modal-body p {
  margin-bottom: 0;
}

.modal-body.multi-paragraph p {
  margin-bottom: 10px;
}

.modal-footer {
  border-top: 0;
}

[role=button], a, area, button, input, label, select, summary, textarea {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

.inverse.modal-content .modal-title {
  color: white;
}

.inverse.modal-content .modal-body * {
  color: #eeeeee;
}

.inverse button.close {
  color: white;
}

.modal-inverse.modal-content {
  background-color: black;
  border: 1px solid #333333;
}

.modal-inverse .modal-header, .modal-inverse .modal-footer {
  border-color: #333333;
}

.modal-primary.modal-content {
  background-color: #b8860a;
  border: 1px solid #8b6507;
}

.modal-primary .modal-header, .modal-primary .modal-footer {
  border-color: #8b6507;
}

.modal-success.modal-content {
  background-color: #6ec92b;
  border: 1px solid #5aa721;
}

.modal-success .modal-header, .modal-success .modal-footer {
  border-color: #5aa721;
}

.modal-info.modal-content {
  background-color: #00a9f4;
  border: 1px solid #1885c5;
}

.modal-info .modal-header, .modal-info .modal-footer {
  border-color: #1885c5;
}

.modal-warning.modal-content {
  background-color: #ff7c07;
  border: 1px solid #e06d06;
}

.modal-warning .modal-header, .modal-warning .modal-footer {
  border-color: #e06d06;
}

.modal-danger.modal-content {
  background-color: #e41b1b;
  border: 1px solid #bf1212;
}

.modal-danger .modal-header, .modal-danger .modal-footer {
  border-color: #bf1212;
}

.modal.terms {
  z-index: 1060;
}

/*------- end of modals -------*/
/*------- navigations -------*/
/*--- breadcrumb ---*/
.breadcrumb {
  padding: 1rem 1.4rem;
  background-color: transparent;
  border-radius: 2px;
}

.breadcrumb.text-center .breadcrumb-item, .breadcrumb.text-right .breadcrumb-item {
  float: none;
}

.breadcrumb-transparent {
  background-color: transparent;
  padding: 1rem 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: inline-block;
  padding-right: .5rem;
  padding-left: .5rem;
  color: #c8c9c9;
  content: "/";
}

.breadcrumb-item.active {
  color: #8b6507;
}

.dark .breadcrumb-item + .breadcrumb-item::before {
  color: #eeeeee;
}

.dark .breadcrumb-item.active {
  color: #eeeeee;
}

.dark .breadcrumb-item.active:hover {
  color: #aaaaaa;
}

/*--- end of breadcrumb ---*/
/*--- navs ---*/
.nav-link.disabled {
  color: #c8c9c9;
  cursor: not-allowed;
}

.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
  color: #b8860a;
  background-color: white;
  border-color: #c8c9c9 #c8c9c9 white;
}

.nav-tabs .nav-link:hover {
  border: 1px solid #c8c9c9;
}

.nav-tabs .nav-link.disabled {
  color: #c8c9c9;
}

.nav-tabs {
  border-bottom: 1px solid #c8c9c9;
}

.nav-pills .nav-item.show .nav-link, .nav-pills .nav-link.active {
  color: white;
  cursor: default;
  background: #b8860a;
  border-radius: 2px;
}

.nav-pills .nav-link {
  text-align: center;
  border-radius: 2px;
  padding: 0.75rem 1.25rem;
}

.nav-pills .nav-link.active {
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.nav-pills .nav-link.active:hover {
  background-color: #8b6507;
  border-color: #8b6507;
}

.tab-w-bar {
  background: #b8860a;
  border-radius: 50px;
  padding: 15px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.nav-pills.tab-w-bar .nav-item.show .nav-link, .nav-pills.tab-w-bar .nav-link.active {
  color: white;
  cursor: default;
  background: #8b6507;
  border-radius: 50px;
}

.card .tab-w-bar {
  margin-top: -50px;
}

.card-w-bar {
  margin-top: 46px;
}

/*--- end of navs ---*/
/*--- navbars ---*/
.navbar {
  border-radius: 0;
  padding: 1.5rem 1rem;
}

.nav-link {
  font-size: 0.9rem;
  font-weight: 700;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.fixed-top.nav-scroll {
  padding: 0.75rem 1.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
}

/*navbar kleur*/
.navbar-inverse.fixed-top.nav-scroll {
  background: #9c9279 !important;
  /*background: #f9f6ef !important;*/
}

.navbar-light.fixed-top.nav-scroll {
  background: white !important;
}

.sticky-top {
  -moz-transition: 0.3s ease-in-out;
  -o-transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.sticky-top.nav-scroll {
  padding: 0.75rem 1.25rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05), 0 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-brand {
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-right: .75rem;
  margin-left: 0;
}

.navbar-brand img {
  width: auto;
  max-height: 40px;
}

.mobile-brand {
  display: none;
}

.navbar-light .navbar-nav .nav-link, .navbar-light .navbar-nav .nav-link:focus {
  color: black;
}

.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
  color: #b8860a;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .active > .nav-link:hover, .navbar-light .navbar-nav .nav-link.active:hover, .navbar-light .navbar-nav .nav-link.open:hover, .navbar-light .navbar-nav .open > .nav-link:hover {
  color: #b8860a;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #b8860a;
}

.navbar-toggler {
  border: none !important;
  padding: .25rem 0;
}

.navbar-toggler-right {
  right: 15px;
}

.navbar-toggler-left {
  left: 15px;
}

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/menu.png");
  width: 32px;
  height: 32px;
}

.navbar-inverse .navbar-toggler-icon {
  background-image: url("../images/menu-inverse.png");
  width: 32px;
  height: 32px;
}

.navbar-light .navbar-toggler-left .navbar-toggler-icon {
  background-image: url("../images/menu-left.png");
  width: 32px;
  height: 32px;
}

.navbar-inverse .navbar-toggler-left .navbar-toggler-icon {
  background-image: url("../images/menu-inverse-left.png");
  width: 32px;
  height: 32px;
}

.navbar-collapse {
  text-align: center;
  padding: 1rem 0;
}

.navbar-collapse .nav-link {
  padding: 1rem 0;
}

/* animated hamburger icon */
.navbar-toggler {
  border: none;
  background: transparent !important;
}

.navbar-toggler:focus {
  outline: none;
  background: transparent !important;
}

.navbar-toggler .icon-bar {
  background-color: #b8860a;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-inverse .navbar-toggler .icon-bar {
  background-color: #b8860a;
  transform: rotate(0deg) translate(0px, 0px);
  transition: ease all .2s;
}

.navbar-toggler .icon-bar {
  display: block;
  width: 22px;
  height: 3px;
  border-radius: 3px;
}

.navbar-toggler .icon-bar + .icon-bar {
  margin-top: 5px;
}

.icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:hover > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:active > .icon-bar:nth-child(2) {
  width: 22px;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(1) {
  transform: rotate(45deg) translate(6.5px, 6.5px);
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(2) {
  opacity: 0;
  transition: ease all .2s;
}

.navbar-toggler:not(.collapsed) .icon-bar:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
  transition: ease all .2s;
}

/* end of animated hamburger icon */
nav .btn-sm {
  font-size: .6rem;
  line-height: 1.75;
  padding: 0.6rem 1rem !important;
}

nav .btn:focus {
  box-shadow: none;
}

nav .btn-xs {
  line-height: 2.3;
}

.nav-button {
  margin-left: 15px;
}

.nav-icon {
  height: auto;
}

.nav-icon i {
  font-size: 18px;
}

.nav-icon .md-icon {
  line-height: 40px;
  width: auto;
  height: auto;
  margin-left: 1rem;
}

.last-menu-item {
  margin-right: 0 !important;
  padding-right: 0 !important;
}

/* extra menu styles */
.stacked-menu {
  border-bottom: 2px solid #b8860a;
}

.stacked-menu .navbar-brand {
  float: none;
  width: 100%;
  text-align: center;
  margin-right: 0;
}

.stacked-menu .navbar-toggler-right {
  padding-right: 10px;
  margin: 0 auto;
}

.split-menu .navbar-brand {
  float: none;
  width: 100%;
  max-height: 50px;
  text-align: center;
}

/* end of extra menu styles */
/* navbar-inverse */
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-toggler {
  color: black;
}

.navbar-inverse .navbar-nav .nav-link, .navbar-inverse .navbar-nav .nav-link:focus {
  color: black;
  opacity: 0.75;
}

.navbar-inverse .navbar-nav .active > .nav-link, .navbar-inverse .navbar-nav .nav-link.active, .navbar-inverse .navbar-nav .nav-link.open, .navbar-inverse .navbar-nav .open > .nav-link {
  color: black;
  opacity: 1;
}

.navbar-inverse .navbar-nav .nav-link:hover, .navbar-inverse .navbar-nav .active > .nav-link:hover, .navbar-inverse .navbar-nav .nav-link.active:hover, .navbar-inverse .navbar-nav .nav-link.open:hover, .navbar-inverse .navbar-nav .open > .nav-link:hover {
  color: black;
  opacity: 1;
}

.navbar-inverse .navbar-nav .nav-link:hover {
  color: grey;
  opacity: 1;
}

.navbar-inverse.bg-primary .navbar-nav .active > .nav-link, .navbar-inverse.bg-primary .navbar-nav .nav-link.active, .navbar-inverse.bg-primary .navbar-nav .nav-link.open, .navbar-inverse.bg-primary .navbar-nav .open > .nav-link {
  color: black;
  opacity: 0.75;
}

.navbar-inverse.bg-primary .navbar-nav .nav-link:hover, .navbar-inverse.bg-primary .navbar-nav .active > .nav-link:hover, .navbar-inverse.bg-primary .navbar-nav .nav-link.active:hover, .navbar-inverse.bg-primary .navbar-nav .nav-link.open:hover, .navbar-inverse.bg-primary .navbar-nav .open > .nav-link:hover {
  color: white;
  opacity: 1;
}
 
.navbar-inverse.bg-primary .navbar-nav .nav-link:focus, .navbar-inverse.bg-primary .navbar-nav .nav-link:hover {
  color: white;
  opacity: 1;
}

/* end of navbar-inverse */
/* custom menu */
.custom-menu .dropdown-toggle::after {
  top: 18px;
}

.custom-menu-thin {
  padding-top: 15px;
  padding-bottom: 15px;
}

.menu-pills .navbar-nav .nav-link {
  border-radius: 2px;
}

.menu-pills .navbar-nav .active > .nav-link, .menu-pills .navbar-nav .nav-link.active, .menu-pills .navbar-nav .nav-link.open, .menu-pills .navbar-nav .open > .nav-link {
  color: white;
  background: #b8860a;
  border-radius: 2px;
}

.menu-pills .navbar-nav .nav-link:hover, .menu-pills .navbar-nav .active > .nav-link:hover, .menu-pills .navbar-nav .nav-link.active:hover, .menu-pills .navbar-nav .nav-link.open:hover, .menu-pills .navbar-nav .open > .nav-link:hover {
  color: white;
  background: #8b6507;
}

.menu-line li a span {
  position: relative;
  padding-bottom: .75rem;
}

.menu-line.nav-scroll li a span {
  padding-bottom: 22px;
}

.menu-line li.active a span {
  color: #8b6507;
}

.menu-line.nav-scroll li a.active span:before {
  visibility: visible !important;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-line li a span:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #b8860a;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.2s ease-in-out 0s;
  -moz-transition: all 0.2s ease-in-out 0s;
  -ms-transition: all 0.2s ease-in-out 0s;
  -o-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.menu-line li a:hover span:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -moz-transform: scaleX(1);
  -ms-transform: scaleX(1);
  -o-transform: scaleX(1);
  transform: scaleX(1);
}

.menu-icon i {
  margin-top: -3px;
}

.transparent-menu {
  background: transparent;
}

.transparent-menu.nav-scroll {
  background: white;
}

.navbar-inverse.transparent-menu.nav-scroll {
  background: #000033;
}

.menu-icon.nav-scroll i {
  margin-top: -1.5px;
}

/* end of custom menu */
/*--- end of navbars ---*/
/*--- top-navs ---*/
.top-nav {
  padding: .625rem 1rem;
}

.top-nav .right {
  float: right;
}

.top-nav-light a {
  color: black;
}

.top-nav-light a:hover {
  color: #b8860a;
}

.top-nav-light a.btn {
  color: white;
}

.top-nav-light a.btn:hover {
  color: white;
}

.top-nav .btn-xs {
  line-height: .6rem;
  vertical-align: middle;
}

.top-nav-inverse a {
  color: #aaaaaa;
}

.top-nav-inverse a:hover {
  color: white;
}

/*--- end of top-navs ---*/
/*--- paginations ---*/
.page-link {
  color: black;
  background-color: #eeefef;
  border: none;
  border-radius: 2px;
  padding: .625rem 1.1rem;
}

.page-link:hover {
  color: black;
  background-color: #c8c9c9;
  border: none;
}

.page-link:active, .page-link:focus {
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}

.pagination .page-link {
  margin: 3px;
}

.pagination-white .page-link {
  color: black;
  background-color: white;
  border: 1px solid #c8c9c9;
}

.pagination-white .page-link:hover {
  color: black;
  background-color: #eeefef;
  border: 1px solid #c8c9c9;
}

.pagination-primary .page-link {
  color: white;
  background-color: #b8860a;
  border: 1px solid #8b6507;
}

.pagination-primary .page-link:hover {
  color: white;
  background-color: #8b6507;
  border: 1px solid #8b6507;
}

.page-link:active, .page-link:focus, .page-link:visited {
  color: black;
}

.pagination-primary .page-link:active, .pagination-primary .page-link:focus, .pagination-primary .page-link:visited {
  color: white;
}

.page-item.disabled {
  cursor: not-allowed;
}

.page-item.disabled .page-link {
  color: #444444;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #eeefef;
  border-color: #c8c9c9;
  opacity: 0.5;
}

.pagination-primary .page-item.disabled .page-link {
  color: #eeeeee;
  pointer-events: none;
  cursor: not-allowed;
  background-color: #b8860a;
  border-color: #8b6507;
}

.page-item.active .page-link {
  color: white;
  background: #b8860a;
  border-color: #b8860a;
}

.pagination-primary .page-item.active .page-link {
  color: white;
  background-color: #8b6507;
  border-color: #8b6507;
}

.page-item.active .page-link:hover {
  color: white;
  background-color: #8b6507;
  border-color: #8b6507;
}

.pager .btn:hover, .pager .btn:focus {
  color: white;
}

.pager {
  padding-left: 0;
}

.pager span, .pager i {
  vertical-align: middle;
}

.pager-left, .pager-right {
  display: inline-block;
}

.pager-left i {
  margin-right: 1px;
}

.pager-right i {
  margin-left: 1px;
}

.pager-right {
  float: right;
}

/*--- end of paginations ---*/
/*------- end of navigations -------*/
/*------- collapse-dropdowns -------*/
.accordion .card {
  background: white;
  border: none;
  margin-bottom: 0;
}

.accordion .accordion-title {
  font-size: 1.075rem;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 1.3;
}

.accordion.w-icon .card-header:first-child {
  border-radius: 0;
  border-bottom: 1px solid #c8c9c9;
}

.primary-accordion.w-icon .card-header:first-child {
  border-radius: 0;
  border-bottom: 1px solid #8b6507;
}

.accordion.w-icon .card-header {
  border-bottom: 0;
}

.accordion.w-icon .card {
  border-radius: 0;
}

.primary-accordion .card {
  border-color: #8b6507;
}

.primary-accordion .card-header {
  background: #b8860a;
}

.dropdown-toggle::after {
  content: "\f078";
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  border: none;
  position: absolute;
  top: 10px;
  margin-left: 4px;
}

.dropdown.show .dropdown-toggle::after {
  content: "\f077";
}

.btn.dropdown-toggle {
  padding-right: 25px;
}

.btn.dropdown-toggle::after {
  top: 20px;
}

.btn.dropdown-toggle.dropdown-toggle-split {
  padding-right: 20px;
}

.btn.dropdown-toggle-split:after {
  margin-left: -5px;
}

.dropup .dropdown-toggle::after {
  content: "\f077";
  font-family: 'Font Awesome 5 Free';
  font-size: 10px;
  border: none;
  position: absolute;
}

.dropdown-menu {
  min-width: 180px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 2px;
  z-index: 99;
  margin: 0;
  left: auto;
  right: 0;
  padding: .5rem;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.05), 0 2px 12px rgba(0, 0, 0, 0.1);
}

.dropdown-menu.drop-to-right {
  left: 0;
  right: auto;
}

.dropdown-item.disabled, .dropdown-item:disabled {
  color: #c8c9c9;
  cursor: not-allowed;
  background-color: transparent;
}

.dropdown-item {
  padding: 8px 16px;
  font-weight: 700;
}

.dropdown-item:focus, .dropdown-item:hover {
  color: #b8860a;
  text-decoration: none;
  background-color: transparent;
}

.dropdown-item.active, .dropdown-item:active {
  color: #b8860a;
  background-color: transparent;
}

.dropdown-header {
  display: block;
  padding: 8px 16px;
  margin-bottom: 0;
  font-size: .75rem;
  color: black;
  white-space: nowrap;
}

.dropdown-divider {
  height: 1px;
  margin: .5rem 0;
  overflow: hidden;
  background-color: #eeefef;
}

.dm-example {
  margin-bottom: 260px;
}

.dm-example .dropdown-menu {
  display: block;
  position: relative;
  z-index: 99;
}

.icon-dropdowns .dropdown-menu {
  min-width: 220px;
}

.icon-dropdowns .close-icon {
  margin: 15px 0 15px 15px;
  right: 0;
}

.icon-dropdowns .dropdown-toggle::after {
  display: none;
}

.cart-small {
  display: flex;
}

.cart-small img {
  max-width: 50px;
  max-height: 50px;
  margin-right: .5rem;
}

.cart-small a {
  font-weight: 700;
}

.cart-small a.text-black:hover {
  color: #b8860a !important;
}

.cart-small-footer {
  background: #f7f7f7;
  padding: .75rem;
}

.navbar-inverse .cart-small-footer, .dark .cart-small-footer {
  background: #222222;
}

.cart-small-footer a:hover {
  color: #b8860a !important;
}

/*--- inverse dropdown ---*/
.dropdown-inverse {
  background: #333333;
  border: none;
}

.dropdown-inverse .dropdown-item {
  color: #eeeeee;
}

.dropdown-inverse .dropdown-item:focus, .dropdown-inverse .dropdown-item:hover {
  color: white;
  background-color: transparent;
}

.dropdown-inverse .dropdown-header {
  color: white;
}

.dropdown-inverse .dropdown-divider {
  background-color: black;
}

/*--- end of inverse dropdown ---*/
/*------- end of collapse-dropdowns -------*/
/*------- popovers & tooltips -------*/
.popover-example {
  position: relative;
}

.popover-example .popover {
  position: relative;
  display: block;
  float: left;
  width: 23%;
  margin: 1%;
  z-index: 9;
}

.popover {
  max-width: 276px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: .875rem;
  background-color: white;
  border: 1px solid #eeefef;
  border-radius: 2px;
  padding: 0;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

.popover-header {
  color: black !important;
  font-size: 1rem;
  background-color: transparent;
  border-bottom: none;
  padding: .75rem 1rem 0;
}

.popover-body {
  padding: .75rem 1rem;
}

.popover-body p {
  font-size: .875rem;
}

.popover-title {
  font-size: 1rem;
  font-weight: 400;
  background-color: transparent;
  border-bottom: 0;
  padding: .75rem 1rem;
}

.popover-content {
  padding: 0 1rem .75rem 1rem;
}

.popover-content p {
  font-size: .875rem;
}

.popover.bs-tether-element-attached-top::after, .popover.popover-bottom::after {
  border-bottom-color: #eeefef;
}

.popover.bs-tether-element-attached-top::before, .popover.popover-bottom::before {
  border-bottom-color: #eeefef;
}

.tooltip.bs-tooltip-auto[x-placement^=top] .arrow::before, .tooltip.bs-tooltip-top .arrow::before {
  border-top-color: #c8c9c9;
}

.tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow::before, .tooltip.bs-tooltip-bottom .arrow::before {
  border-bottom-color: #c8c9c9;
}

.tooltip.bs-tooltip-auto[x-placement^=left] .arrow::before, .tooltip.bs-tooltip-left .arrow::before {
  border-left-color: #c8c9c9;
}

.tooltip.bs-tooltip-auto[x-placement^=right] .arrow::before, .tooltip.bs-tooltip-right .arrow::before {
  border-right-color: #c8c9c9;
}

/*--- tooltips ---*/
.tooltips-example {
  position: relative;
}

.tooltips-example .tooltip {
  position: relative;
  display: inline-block;
  margin: 10px 20px;
  opacity: 1;
}

.tooltip {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: .875rem;
}

.tooltip-inner {
  max-width: 200px;
  padding: .5rem .75rem;
  color: white;
  text-align: center;
  background-color: black;
  border: 1px solid black;
  border-radius: 2px;
  opacity: 1;
}

.tooltip.bs-tether-element-attached-bottom .tooltip-inner::before, .tooltip.tooltip-top .tooltip-inner::before {
  border-top-color: black;
}

.tooltip.bs-tether-element-attached-left .tooltip-inner::before, .tooltip.tooltip-right .tooltip-inner::before {
  border-right-color: black;
}

.tooltip.bs-tether-element-attached-top .tooltip-inner::before, .tooltip.tooltip-bottom .tooltip-inner::before {
  border-bottom-color: black;
}

.tooltip.bs-tether-element-attached-right .tooltip-inner::before, .tooltip.tooltip-left .tooltip-inner::before {
  border-left-color: black;
}

/*--- end of tooltips ---*/
/*------- end of popovers & tooltips -------*/
/*------- progress -------*/
.progress {
  margin-bottom: 20px;
}

.progress {
  font-size: .75rem;
  line-height: 1rem;
  background-color: #eeefef;
  border-radius: 2px;
  height: auto;
}

.progress-bar {
  height: 1rem;
  color: white;
  background-color: #b8860a;
}

.progress-bar.animated {
  margin-bottom: -0.1px;
}

.progress.text-xs {
  font-size: 0.5rem;
  line-height: 0.5rem;
}

/*------- end of progress -------*/
/*------- call-to-action -------*/
.cta {
  padding: 30px 0;
}

.cta-sm {
  padding: 25px 0;
}

.cta-big {
  padding: 50px 0;
}

/*------- end of call-to-action -------*/
/*------- tables -------*/
.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #eeeeee;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #eeeeee;
}

.table-inverse {
  color: white;
  background-color: #333333;
}

.table-inverse td, .table-inverse th, .table-inverse thead th {
  border-color: white;
}

.thead-default th {
  color: black;
  background-color: #eeeeee;
}

.thead-inverse th {
  color: white;
  background-color: #333333;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: #eeeeee;
}

.table-striped.table-inverse tbody tr:nth-of-type(odd) {
  background-color: black;
}

.table-bordered td, .table-bordered th {
  border: 1px solid #eeeeee;
}

.table-hover tbody tr:hover {
  background-color: #eeeeee;
}

.table-active, .table-active > td, .table-active > th {
  background-color: #eeeeee;
}

.table-hover .table-active:hover {
  background-color: #eeeeee;
}

.table-hover .table-active:hover > td, .table-hover .table-active:hover > th {
  background-color: #eeeeee;
}

.table-hover.table-inverse tbody tr:hover {
  background-color: black;
}

.table-inverse .table-active, .table-inverse .table-active > td, .table-inverse .table-active > th {
  background-color: black;
}

.table-hover.table-inverse .table-active:hover {
  background-color: black;
}

.table-hover.table-inverse .table-active:hover > td, .table-hover.table-inverse .table-active:hover > th {
  background-color: black;
}

.table-primary, .table-primary > td, .table-primary > th {
  background-color: #b8860a;
}

.table-hover .table-primary:hover {
  background-color: #8b6507;
}

.table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
  background-color: #8b6507;
}

.table-success, .table-success > td, .table-success > th {
  background-color: #6ec92b;
}

.table-hover .table-success:hover {
  background-color: #5aa721;
}

.table-hover .table-success:hover > td, .table-hover .table-success:hover > th {
  background-color: #5aa721;
}

.table-info, .table-info > td, .table-info > th {
  background-color: #00a9f4;
}

.table-hover .table-info:hover {
  background-color: #1885c5;
}

.table-hover .table-info:hover > td, .table-hover .table-info:hover > th {
  background-color: #1885c5;
}

.table-warning, .table-warning > td, .table-warning > th {
  background-color: #ff7c07;
}

.table-hover .table-warning:hover {
  background-color: #e06d06;
}

.table-hover .table-warning:hover > td, .table-hover .table-warning:hover > th {
  background-color: #e06d06;
}

.table-danger, .table-danger > td, .table-danger > th {
  background-color: #e41b1b;
}

.table-hover .table-danger:hover {
  background-color: #bf1212;
}

.table-hover .table-danger:hover > td, .table-hover .table-danger:hover > th {
  background-color: #bf1212;
}

/*------- end of tables -------*/
/*------- footers -------*/
footer {
  background: #c8c9c9;
  padding: 2rem 0;
}

footer.light {
  background: #eeefef;
}

footer.mid {
  background: #c8c9c9;
}

footer.dark {
  background: #333333;
}

footer.dark p {
  color: #eeeeee;
}

footer.dark a {
  color: white;
}

footer.dark a:hover {
  color: #aaaaaa;
}

footer p {
  color: black;
  margin-bottom: 0;
}

.footer-left-area {
  text-align: left;
}

.footer-right-area {
  text-align: right;
}

footer .social-icons i {
  margin-left: 10px;
}

footer.dark a, footer.dark a:focus {
  color: #b8860a;
  opacity: 1;
}

footer.dark a:hover {
  color: #8b6507;
}

footer.dark.bg-primary a, footer.dark.bg-primary-hover a {
  color: white;
}

footer.dark.bg-primary a:hover, footer.dark.bg-primary-hover a:hover {
  color: #eeeeee;
}

footer .btn-social {
  padding: 0 5px;
}

/*--- widgets ---*/
.widget {
  margin: 15px 0;
}

.footer-widgets {
  padding: 50px 0;
}

.footer-widgets .widget-title {
  font-size: 1.25rem;
  margin-bottom: 20px;
}

.footer-logo {
  max-width: 100px;
  margin-bottom: 20px;
}

.post-widget img {
  max-width: 120px;
  height: auto;
  float: left;
  margin: 0 10px 10px 0;
}

.post-widget .post-small {
  display: inline-block;
  width: 100%;
  margin-bottom: 10px;
}

.footer-social i {
  font-size: 1.05rem;
}

.footer-widgets .project-small img {
  max-width: 74px;
  margin: 5px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.useful-links {
  padding-left: 0;
}

.useful-links li {
  padding-bottom: 10px;
  border-bottom: 1px solid #eeeeee;
}

.dark .useful-links li {
  border-color: #333333;
}

.footer-widgets .project-small img:hover {
  opacity: 0.8;
}

/*--- end of widgets ---*/
/*------- end of footers -------*/
/*---------- end of components ----------*/
/*------- template styles -------*/

@font-face {
  font-family: Magnolia-Script;
  src: url('../fonts/Magnolia-Script.oft');
}
header {
  padding: 100px 0;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover;
  background-color: #f9f6ef;
}






@media (min-width: 1px) {
  .wine {

    font-family: Magnolia-Script;
    font-size: 8px;
  }
  .line {

    border-bottom: 1px solid black;

  }
}

@media (min-width: 576px) {
  .line{

    border-bottom: 1px solid transparent ;
  }
  .wine {

    font-family: Magnolia-Script;
    font-size: 20px;
  }
}


header.header-home {
  background: url("../images/banner3.jpg");
  opacity: 0.8;

}

@font-face { font-family: 'Magnolia-Script'; src: url('../fonts/Magnolia-Script.otf') format('opentype'); font-weight: bold; font-style: normal;}

header.header-fastfood {
  background: url("../images/header-fastfood.jpg");
}

header.header-cafe {
  background: url("../images/header-cafe.jpg");
}

header.header-home-restaurant {
  background: url("../images/header-home-restaurant.jpg");
}

header.header-home-fastfood {
  background: url("../images/header-home-fastfood.jpg");
}

header.header-home-cafe {
  background: url("../images/header-home-cafe.jpg");
}

.page-title {
  font-size: 3.5rem;
}

.header-subtitle {
  margin: 20px 0;
}

.has-sticky-menu {
  margin-top: 10px;
}

.header-content {
  padding: 135px 0;
}

.header-page .header-content {
  padding: 0;
}

.header-icon {
  max-width: 120px;
  height: auto;
  margin: 0 auto 20px;
}

section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 50px 0;
}

section.big-section {
  padding: 100px 0;
}

.parallax-section {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #b8860a;
  padding: 150px 0;
}

.parallax-section.small {
  padding: 70px 0;
}

/*--- promo-box ---*/
.promo-box {
  background: transparent;
  margin-bottom: 15px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.promo-box .box-icon {
  color: white;
  background: #b8860a;
  border-radius: 50%;
  height: 65px;
  width: 65px;
  line-height: 65px;
  margin-bottom: 15px;
  -webkit-transition: ease-in-out 0.2s;
  -moz-transition: ease-in-out 0.2s;
  transition: ease-in-out 0.2s;
}

.promo-box:hover .box-icon {
  background: #8b6507;
}

.promo-box .box-icon.side {
  width: 50px;
  height: 50px;
  line-height: 50px;
  margin: 0 5px;
}

.promo-link {
  color: black;
  font-weight: 700;
}

.promo-link:hover {
  color: #b8860a;
}

.promo-box .box-description {
  font-size: 1rem;
  margin-top: 10px;
}

.more-features {
  padding: 30px 0;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.more-features img {
  margin: 15px 0;
}

/*--- end of promo-box ---*/
/*--- menu ---*/
.menu-item {
  margin-bottom: 30px;
}

.menu-item-image {
  max-width: 75px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}

.col-lg-4 .food-price {
  display: block;
  margin-top: 10px;
}

.col-lg-4 .menu-item-image {
  max-width: 100px;
}

/*--- end of menu ---*/
/*--- chef ---*/
.team {
  margin: 15px 0;
}

.chef-image {
  max-width: 300px;
  margin: 0 auto;
}

.team .social-icons {
  max-width: 300px;
  margin: 10px auto 0;
  padding-top: 5px;
  border-top: 1px solid rgba(255, 255, 255, 0.75);
}

.social-icons a i {
  font-size: 1rem !important;
}

/*--- end of chef ---*/
/*--- testimonials---*/
#testimonials-carousel .box-description {
  max-width: 750px;
  margin: 0 auto;
}

#testimonials .block-image {
  max-width: 100px;
  margin: 0 auto 30px auto;
}

/*--- end of testimonials ---*/
/*--- gallery ---*/
#gallery.full-gallery {
  padding-bottom: 0;
}

#gallery .page-header {
  margin-bottom: 0;
}

.gallery-item {
  padding: 0;
}

.mfp-bg {
  background: #000033 !important;
  opacity: 0.9 !important;
}

.body.dark .mfp-figure:after {
  box-shadow: none !important;
  background: #333333 !important;
}

.mfp-figure:after {
  box-shadow: none !important;
  background: #eeefef !important;
}

.mfp-close {
  color: white;
  opacity: 0.7;
  font-size: 30px;
  top: -50px;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mfp-close:hover {
  opacity: 1;
}

.mfp-arrow {
  color: white;
  font-family: 'Font Awesome 5 Free' !important;
  font-weight: 900;
  opacity: 0.7 !important;
  -moz-transition: 0.2s ease-in-out;
  -o-transition: 0.2s ease-in-out;
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
}

.mfp-arrow:hover {
  opacity: 1 !important;
}

.mfp-arrow:after {
  border-top-width: 0 !important;
  border-bottom-width: 0 !important;
  top: 5px !important;
}

.mfp-arrow-right:before {
  border-left: none !important;
}

.mfp-arrow-left:before {
  border-right: none !important;
}

.mfp-arrow-right:after {
  content: "\f30b" !important;
  font-size: 40px;
  border-right: none !important;
  margin-left: 25px !important;
}

.mfp-arrow-left:after {
  content: "\f30a" !important;
  font-size: 40px;
  border-right: none !important;
  margin-left: 30px !important;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;
}

.hovereffect .overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(184, 134, 10, 0.9);
  -webkit-transition: all .2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.hovereffect img {
  display: block;
  position: relative;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.hovereffect-title i {
  color: rgba(255, 255, 255, 0.9);
  font-size: 30px;
  width: 30px;
  height: 30px;
  line-height: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  right: 50%;
  margin-top: -15px;
  margin-right: -15px;
  -webkit-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
  padding: 10px 0;
}

.hovereffect:hover img {
  -ms-transform: scale(1.07);
  -webkit-transform: rotate(1.07);
  transform: scale(1.07);
}

.hovereffect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
}

.mfp-wrap {
  z-index: 999999 !important;
}

/*--- end of gallery ---*/
/*--- blog ---*/
.blog.block {
  margin: 15px 0;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
}

.post-image {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
  text-align: center;
  z-index: 2;
}

.post-image img {
  display: block;
  position: relative;
  -webkit-transition: all .3s linear;
  transition: all .3s linear;
}

.post-image:hover img {
  -ms-transform: scale(1.05);
  -webkit-transform: rotate(1.05);
  transform: scale(1.05);
  opacity: 0.75;
}

.post-title a {
  font-size: 1.5rem;
  color: #222222;
  font-family: "Magnolia-Script", cursive !important;
  font-weight: 700 !important;
}

.post-title a:hover {
  color: #b8860a;
}

.post-content {
  background: white;
  padding: 30px;
}

.post-content .comments-info {
  font-weight: 700;
  color: #aaaaaa;
}

.post-meta p {
  font-weight: 700;
  color: #aaaaaa;
}

.small-slider.carousel-full-nav .owl-prev, .small-slider.carousel-full-nav .owl-next {
  font-size: 1.75rem !important;
  top: 46%;
}

.quote-image {
  border-radius: 100%;
}

.quote-icon {
  color: #eeeeee;
  font-size: 2rem;
}

.comments {
  background-color: white;
  -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 30px;
}

#comment-form textarea {
  max-width: 100%;
  height: 106px;
  min-height: 106px !important;
  max-height: 211px;
}

#comments img {
  max-width: 65px;
  border-radius: 50%;
}

.media {
  margin-top: 15px;
}

.media-left, .media > .pull-left {
  padding-right: 10px;
}

/*--- end of blog---*/
/*--- widgets ---*/
.sidebar-widget {
  background-color: white;
  -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.1);
  padding: 25px;
  margin-bottom: 30px;
}

.about-image img {
  max-width: 150px;
  border-radius: 100%;
  margin: 15px auto;
}

.about-image.big img {
  max-width: 300px;
  margin-bottom: 30px;
}

.recent-posts {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.recent-posts.first {
  margin-top: 0;
}

.recent-post-image img {
  max-width: 90px;
  float: left;
  margin-right: 15px;
}

.sidebar-widget .recent-post-image img {
  max-width: 95px;
}

.recent-post-title {
  font-family: "Magnolia-Script", cursive !important;
  font-weight: 700 !important;
}

/*--- end of widgets ---*/
/* contact */
#contact-info .box-description {
  font-weight: 400;
}

#contact-info .box-description a {
  color: #444444;
}

#contact-info .box-description a:hover {
  color: #b8860a;
}

#contact-info.dark .box-description a {
  color: white;
  opacity: 0.75;
}

#contact-info.dark .box-description a:hover {
  color: white;
  opacity: 1;
}

.with-errors ul {
  margin-bottom: 0;
}

.with-errors li {
  color: #e41b1b;
  margin-top: -22px;
  margin-left: 22px;
}

.with-errors.text-area li {
  color: #e41b1b;
  margin-top: -30px;
  margin-left: 22px;
}

.btn-submit {
  width: 100%;
  opacity: 1 !important;
}

.btn-submit:hover {
  background: #8b6507 !important;
  border-color: #8b6507 !important;
}

.btn-submit.btn-info:hover {
  background: #1885c5 !important;
  border-color: #1885c5 !important;
}

#msgSubmit {
  font-size: 1.25rem;
  margin-top: 15px;
}

.has-danger .form-control {
  border-color: #e41b1b !important;
}

/* end of contact */
/*--- scroll to top ---*/
.scroll-to-top {
  background: white;
  color: #444444;
  border-radius: 2px;
  width: 40px;
  height: 40px;
  bottom: 20px;
  right: 20px;
  line-height: 36px;
  position: fixed;
  text-align: center;
  font-size: 24px;
  z-index: 99;
}
.scroll-to-top.is-hidden {
  opacity: 0;
  -webkit-transform: translate(0, -5px);
  -webkit-transition: -webkit-transform 0.2s, background 0.2s, color 0.2s, opacity 0 0.2s;
}
.scroll-to-top.is-visible {
  opacity: 1;
  -webkit-transform: translate(0, 0);
  -webkit-transition: -webkit-transform .2s,background .2s,color .2s;
}

.scroll-to-top:hover, .scroll-to-top:active, .scroll-to-top:focus {
  color: white;
  background: #b8860a;
}

.scroll-to-top.dark-scroll, .scroll-to-top.dark-scroll:focus {
  color: white;
  background: #b8860a;
}

.scroll-to-top.dark-scroll:hover, .scroll-to-top.dark-scroll:active {
  background: #8b6507;
}

/*--- end of scroll to top ---*/
/*--- custom footer ---*/
.opening-widget {
  padding: 40px;
  border: 2px solid white;
  margin: 15px 0;
}

.footer-contact-info {
  padding-right: 20px;
}

/*--- end of custom footer ---*/
/*------- end of template styles -------*/
/*------- media screens -------*/
/*--- max-widths ---*/
@media only screen and (max-width: 1200px) {
  .navbar-expand-lg .form-inline {
    display: block;
    margin: .5rem auto;
  }
}
@media only screen and (max-width: 1024px) {
  .parallax {
    background-attachment: scroll !important;
  }
}
@media only screen and (max-width: 991px) {
  .navbar-expand-lg > .container {
    padding-right: 15px;
    padding-left: 15px;
  }

  .navbar-expand-lg.menu-line.nav-scroll li a span {
    padding-bottom: 8px;
  }

  .navbar-collapse {
    margin-top: .625rem;
  }

  .navbar-light.bg-transparent .navbar-collapse {
    background: white;
  }

  .navbar-inverse.bg-transparent .navbar-collapse {
    background: #b8860a;
  }

  .navbar-expand-lg .navbar-brand {
    margin-left: 0;
  }

  .dropdown-menu {
    box-shadow: none;
    max-width: 300px;
    margin: 0 auto;
  }

  .dropdown-item {
    text-align: center;
  }

  .nav-icon .md-icon {
    margin: 5px;
  }

  .icon-dropdowns .form-inline {
    text-align: center;
  }

  .navbar-expand-lg .form-inline {
    display: block;
    margin: .5rem auto;
  }

  .icon-dropdowns .count {
    top: 5px;
    right: auto;
    margin-left: -8px;
  }

  .split-menu .navbar-brand {
    display: none;
  }

  .split-menu .navbar-brand.mobile-brand {
    display: contents;
  }

  .after-dropdown {
    margin-left: 0;
  }

  .custom-menu .dropdown-toggle::after {
    top: 14px;
  }

  .nav-button {
    margin-left: 0;
    display: inline-block;
    padding-left: 18px !important;
    padding-right: 18px !important;
  }

  .popover-example .popover {
    max-width: 100%;
    width: 44%;
    margin: 3%;
  }

  h1.page-title {
    font-size: 2.5rem;
  }

  .content-right {
    margin-top: 30px;
  }

  .content-left {
    margin-bottom: 30px;
  }

  .footer-left-area {
    text-align: center;
    margin-bottom: 15px;
  }

  .footer-right-area {
    text-align: center;
  }

  .cta .col-md-8, .cta .col-md-4 {
    text-align: center !important;
    margin: 0 !important;
  }

  .cta .col-md-4 .btn {
    margin: 12px 0 0 0 !important;
  }

  .cs-wrapper .newsletter-form {
    max-width: 100%;
  }
}
@media only screen and (max-width: 767px) {
  body.components, html.components {
    background-color: #f7f7f7;
  }

  body.bg-inverse {
    background: #000033;
  }

  .content {
    background: transparent;
    padding: 30px 0;
  }

  .w80 {
    max-width: 100% !important;
  }

  .w70 {
    max-width: 100% !important;
  }

  .w60 {
    max-width: 100% !important;
  }

  .w50 {
    max-width: 100% !important;
  }

  .hide-tablet {
    display: none !important;
  }

  .navbar-expand-sm .form-inline {
    display: block;
    margin: .5rem auto;
  }

  #menu-toggle {
    color: #b8860a;
    background: white;
    border: 1px solid #eeeeee;
    font-size: 30px;
    line-height: 1;
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    padding: 10px 15px;
  }

  #icon-nav-wrapper #menu-toggle {
    color: #b8860a;
    background: white;
    border-color: #b8860a;
    font-size: 24px;
    padding: 8px 14px;
    line-height: 1;
    display: block;
  }

  .sidebar-nav-inverse #menu-toggle {
    color: #b8860a;
    background: #000033;
    border: none;
  }

  h1.page-title {
    font-size: 2rem;
  }

  header .breadcrumb.text-right {
    text-align: left !important;
    margin-top: 15px;
  }

  .promo-box {
    margin-bottom: 10px;
    padding: 5px 15px !important;
  }

  .fact-title {
    margin-bottom: 30px;
  }

  .cta .col-sm-8, .cta .col-sm-4 {
    text-align: center !important;
    margin: 0 !important;
  }

  .cta .col-sm-4 .btn {
    margin: 12px 0 0 0 !important;
  }

  .timeline > li > .timeline-panel {
    width: 100%;
  }

  .timeline > li:not(.timeline-inverted) {
    padding-right: 0;
    padding-left: 0;
  }

  .timeline > li.timeline-inverted {
    padding-right: 0;
    padding-left: 0;
  }

  .timeline > li > .timeline-panel:before, .timeline > li > .timeline-panel:after {
    display: none;
  }

  .timeline > li > .timeline-panel {
    margin-top: 75px;
  }

  .collections {
    padding-left: 15px;
    padding-right: 15px;
  }

  .cs-wrapper {
    max-width: 100%;
  }

  #countdown {
    width: 400px !important;
  }

  .cart-total {
    margin: 30px 0 0 0;
  }

  .update-cart {
    text-align: left;
  }

  .cart-checkout {
    text-align: left;
    margin: 15px 0 30px 0;
  }

  .checkout-form {
    margin-bottom: 50px;
  }

  footer .text-left, footer .text-right {
    display: block !important;
    text-align: center !important;
  }
}
@media only screen and (max-width: 575px) {
  .container {
    width: 100%;
  }

  .navbar-expand-lg > .container {
    padding-right: 0;
    padding-left: 0;
  }

  .navbar-toggler-right {
    right: 0;
  }

  .navbar-toggler-left {
    left: 0;
  }

  .header-content {
    padding: 0 15px;
  }

  .form-inline .form-control {
    display: block;
    width: 70%;
    margin: 0 auto;
  }

  .form-inline .btn {
    display: block;
    width: 70%;
    margin: 5px auto;
  }

  .popover-example .popover {
    width: 90%;
    margin: 5%;
  }

  .top-menu {
    text-align: center;
  }

  .top-menu .left-area {
    display: block;
    float: none !important;
    margin-bottom: 10px;
    padding: 0 !important;
  }

  .top-menu .right-area {
    display: block;
    float: none !important;
    padding: 0 !important;
  }

  #countdown {
    width: 300px !important;
  }

  .error-wrapper .search-form {
    max-width: 100%;
  }

  table.shopping-cart {
    max-width: 100%;
    margin-left: -15px;
  }

  table.shopping-cart > tbody > tr > td {
    font-size: 10px;
  }

  .shopping-cart .image {
    display: none;
  }

  .qty input[type="number"] {
    max-width: 35px;
    max-height: 35px;
    padding: 10px 4px 10px 5px;
  }

  .x-remove {
    display: none;
  }

  footer {
    text-align: center;
  }
}
@media only screen and (max-width: 480px) {
  header h1 {
    font-size: 1.875rem;
  }

  header h2 {
    font-size: 1.75rem;
  }

  header h3 {
    font-size: 1.5rem;
  }

  .menu-item .food-price {
    float: none !important;
    display: block;
    margin-top: 10px;
  }

  .custom-form .left-area {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .custom-form .right-area {
    display: block;
    width: 100%;
    text-align: left;
  }

  .custom-form .left-area.long {
    width: 100%;
  }

  .custom-form .right-area.long {
    width: 100%;
  }

  .custom-form .left-area.short {
    width: 100%;
  }

  .custom-form .right-area.short {
    width: 100%;
  }

  .modal-footer.custom-form {
    display: block;
  }

  .hide-mobile {
    display: none !important;
  }
}
@media only screen and (max-width: 400px) {
  .top-nav {
    text-align: center;
  }

  .top-nav .left {
    display: block;
  }

  .top-nav .right {
    float: none;
    display: block;
  }

  .pager {
    text-align: center;
  }

  .pager-left, .pager-right {
    display: block;
  }

  .pager-right {
    float: none;
  }
}
/*--- end of max-widths ---*/
@media only screen and (max-width: 991px) and (min-width: 768px) {
  .custom-form .left-area {
    display: block;
    width: 100%;
    margin-bottom: 15px;
  }

  .custom-form .right-area {
    display: block;
    width: 100%;
    text-align: left;
  }

  .custom-form .left-area.long {
    width: 100%;
  }

  .custom-form .right-area.long {
    width: 100%;
  }

  .custom-form .left-area.short {
    width: 100%;
  }

  .custom-form .right-area.short {
    width: 100%;
  }
}
/*--- min-widths ---*/
@media only screen and (min-width: 992px) {
  .container.container-lg {
    max-width: 990px;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding: .75rem 1.5rem;
  }

  .custom-menu.navbar-expand-lg .navbar-nav .nav-link {
    padding: .75rem 1rem;
  }

  .navbar-expand-lg .before-btn {
    padding-right: 2.75rem !important;
  }

  .menu-pills .navbar-nav .nav-link {
    padding: .75rem 1.25rem;
    margin: 0 5px;
  }

  .dropdown-menu li:hover .sub-menu {
    visibility: visible;
  }

  .dropdown:hover .dropdown-menu {
    display: block;
  }

  .navbar-expand-lg .icon-dropdowns .nav-link {
    padding: .75rem !important;
  }

  .navbar-expand-lg.stacked-menu > .container {
    display: block;
  }

  .col-lg-6.sub-col-left {
    padding-right: 7.5px;
  }

  .col-lg-6.sub-col-right {
    padding-left: 7.5px;
  }
}
@media only screen and (min-width: 768px) {
  .col-md-6.sub-col-left {
    padding-right: 7.5px;
  }

  .col-md-6.sub-col-right {
    padding-left: 7.5px;
    width: 100%;
  }

  #wrapper {
    padding-left: 300px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 300px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }

  #icon-nav-wrapper {
    padding-left: 100px;
  }

  #icon-nav-wrapper.toggled {
    padding-left: 0;
  }

  #icon-nav-sidebar-wrapper {
    width: 100px;
  }

  #icon-nav-wrapper.toggled #icon-nav-sidebar-wrapper {
    width: 0;
  }

  #icon-nav-page-content-wrapper {
    position: relative;
  }

  #icon-nav-wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}
@media only screen and (min-width: 576px) {
  .col-sm-6.sub-col-left {
    padding-right: 7.5px;
  }

  .col-sm-6.sub-col-right {
    padding-left: 7.5px;
  }
}
/*--- end of min-widths ---*/
/*------- end of media screens -------*/
